/***************************/
/* HEADER */
/***************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fef9ea;
  padding: 0 4.8rem;
  /* Because we want header to be sticky */
  height: 9.6rem;
}

.logo {
  height: 3rem;
}

/***************************/
/* NAVIGATION */
/***************************/

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25.6rem;
}

.main-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #2e4b56;
  font-size: 1.7rem;
  font-weight: 600;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #47646f;
}

.main-nav-button.nav-cta {
  background-color: #47646f;
  padding: 1.7rem 2.8rem;
  color: #fff;
  border-radius: 100px;
  border-top-right-radius: 0;
}

.main-nav-button.nav-cta:active,
.main-nav-button.nav-cta:hover {
  background-color: #2e4b56;
}

.main-nav-button {
  display: inline-block;
  color: #2e4b56;
  font-size: 1.7rem;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
}

.sign-in-button:hover,
.sign-in-button:active {
  color: #47646f;
}

.sign-in-button {
  background-color: #fef9ea;
  border: none;
}

/* SIGN-IN*/

.sign-in-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.sign-in {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 70%; */
  background-color: white;
  width: 55rem;
  height: 58.2rem;
  border-radius: 2rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading-secondary.sign-in-heading {
  margin-bottom: 3.2rem;
}

.sign-up-buttons {
  display: flex;
  width: 100%;
  align-items: center;
}

.s-button {
  padding: 1.6rem 2.5rem 1.6rem 5.5rem;
  border-radius: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  display: inline-block;
  color: #243a43;
  font-weight: 600;
}

.signup-google {
  background-color: #fbecc1;
  background-image: url(https://assets.website-files.com/60530b250558ec92cb160920/60531223072c99d2210e96e5_Group-min.png);
  background-position: 10% 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
  transition: all 0.3s;
}

.signup-google:hover,
.signup-google:active {
  background-color: #f9df98;
}

.signup-apple {
  margin-left: 1.6rem;
  background-color: #c2cbcf;
  background-image: url(https://assets.website-files.com/60530b250558ec92cb160920/605311b25d7a53561d5834ad__Group_-min.png);
  background-position: 10% 50%;
  background-size: 20px 25px;
  background-repeat: no-repeat;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
  transition: all 0.3s;
}

.signup-apple:hover,
.signup-apple:active {
  background-color: #99a9af;
}

.or-text {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  color: #33535f;
  font-size: 1.4rem;
  line-height: 2rem;
}

.s-input {
  display: block;
  width: 100%;
  height: 3.8rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  line-height: 1.42857143;
  margin-bottom: 16px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 43px;
  border: 1px none #000;
  border-radius: 12px;
}

.sign-in-email {
  background-color: #eff0f5;
  background-image: url(https://assets.website-files.com/60530b250558ec92cb160920/60531280c0eb9e4245d3747c_Vector-1.svg);
  background-position: 4% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  /* stroke: #2e4b56; */
}

.sign-in-password {
  background-image: url(https://assets.website-files.com/60530b250558ec92cb160920/60531280fa4636332bb4102e_Vector.svg);
  background-position: 4% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  /* color: #2e4b56; */
}

/***************************/
/* HERO SECTION */
/***************************/

.section-hero {
  background-color: #fef9ea;
  padding: 4.8rem 0 16rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  font-weight: 500;
}

.btn-description {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  text-align: center;
  width: 20.8rem;
  color: #666;
}

.reviews-box {
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.reviews-text {
  font-weight: 600;
  font-size: 1.6rem;
}

.reviews-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.logo-1 {
  height: 2.8rem;
  width: 2.8rem;
}

.logo-2 {
  height: 2.4rem;
  width: 2.4rem;
}

.logo-3 {
  height: 3rem;
  width: 3rem;
}

.hero-img {
  width: 62.4rem;
  height: 41.6rem;
  border-radius: 30px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

/* .getourapp {
  grid-column: 1 / 3;
  height: 41.5rem;
  text-align: center;
  padding-top: 9.6rem;
}

.get-description {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1.6rem;
  color: #666;
}

.hero-app-imagebox {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  position: absolute;
  transform: translate(50%,50.1%);
  right: 50%;
  top: 50%;
  z-index: 2;
}

.hero-app-image {
  height: 59rem;
  width: 30rem;
}

.get-app-imgbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.get-img {
    height: 6.4rem;
    width: 20rem;
} */

/***************************/
/* PARTNER SECTION */
/***************************/

.section-partners {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-partners {
  font-size: 1.4rem;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  margin-bottom: 2.4rem;
  text-align: center;
}

.partner-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partner-logos img {
  height: 3.6rem;
  filter: brightness(0);
  opacity: 50%;
}

.partner-logos .herschel {
  height: 6.4rem;
}

.partner-logos .iherb {
  height: 4.8rem;
}

/***************************/
/* HOW IT WORKS SECTION */
/***************************/

.section-how {
  /* background-color: #534347; */
  padding: 9.6rem 0;
}

.step-heading {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
  -webkit-box-align: center;
}

.step-text {
  font-size: 2rem;
  line-height: 1.8;
  font-weight: 500;
}

.step-imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 60%;
}

/* JavaScript */
.hidden {
  display: none;
}
